html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body,html{
  background-color: #f2f2f2;

}

.layout{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.main-container{
  width: 100%;
  height: fit-content;
  max-width: 1800px;
  justify-content: center;
  justify-content: center;
  margin: auto;
}

h1,h2,h3,h4,h5,p{
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}